<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <!--<h3 class="section-subheading text-muted"></h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Humble Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started to work in Gemalto Singapore as Software Engineer, Responsible of product maintenance, validation, support, enhancement of the OTA Manager - Gemalto's Telco product used for SIM card management - Device handling - Service Management in 2G/3G network. Deployed in many operators around world, e.g.: SFR, Sprint, Orange, Telstra, Verizon Wireless.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2012</h4>
                                    <h4 class="subheading">Integration Project (France)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked on integration project of server application mainly on OTA projects, was stationed in a city in South of France, La Ciotat</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2014</h4>
                                    <h4 class="subheading">Team Leader</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Work as a representative of OTA system projects in Singapore, leading a team of engineers that are part of LTE OTA Solution, building team that are managed 50% geographically in France and Singapore. Main tasks are to study and implement solutions in various projects, support product deployment, train Singapore teams for implementations, and become the solution expertise in Singapore site.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/apple_inc.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2015</h4>
                                    <h4 class="subheading">Joined Apple Inc!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">DevOps/Site Reliability Engineering on Apple top security team handling Apple's world facing endpoints. Worked on design/implementation of the deployment/configuration mgmt strategy from scratch. Worked on many different aspect of SRE/DevOps such as platform monitoring, CI/CD, testing automation, any many more!</p>
                                </div>
                            </div>
                        </li>
                                        

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of The
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
