<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">These are some technical skills (programming, web technologies, application server, databases) that i work with.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skills-heading">Java/Groovy</h4>
                    <p class="text-muted">Mostly used for backend web applications, Groovy mostly for interacting with Jenkins API,  worked on this since year 2007.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skills-heading">Python</h4>
                    <p class="text-muted">Experience on this programming language since year 2013, used the high level language for server scripting, installation, administration, Continuous Integration. I also used its alternative version called Jython which combines Java and Python language.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skills-heading">Jenkins</h4>
                    <p class="text-muted">Worked on building up infrastructure mass deployment(DevOps) from scratch, integration with Vault secret management, BlueOcean for CI/CD Pipeline.</p>
                </div>		    

            </div>
	    <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
		    <h4 class="skills-heading">Oracle / MySQL</h4>
                    <p class="text-muted">Handled tuning profiling on Oracle DB, also familiar with Oracle technologies such as GoldenGate, DataGuard.</p>			
                </div>		    
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skills-heading">Couchbase</h4>
                    <p class="text-muted">NoSQL Database that i've worked on, i've used it in handling billions of items, so necessarily i've learned the performance tuning/Cross DC data replication/failover.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skills-heading">Solr</h4>
                    <p class="text-muted">NoSQL DB that i've used for data management with it's built-in search engine, basic use for our datalake.</p>
                </div>
            </div>
	    <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skills-heading">Oracle Weblogic Server</h4>
                    <p class="text-muted">I focused alot on the scripting for Weblogic (WLST) to perform automation of installation, tuning profiling, server administration.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skills-heading">Redhat - Linux/UNIX</h4>
                    <p class="text-muted">This is the OS that i use daily for application development/deployment, worked on this since 2011.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sun-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skills-heading">Apache Tomcat</h4>
                    <p class="text-muted">Performance tuning profiling, server administration, logging, integration with Splunk.</p>			
                </div>
            </div>
        </div>
    </section>
